@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  text-align: center;
  font-family: "Rubik", sans-serif;
  background-color: #36393f;
  color: white;
}

header {
  background-color:#1d968e;
  padding: 10px;
  border-bottom: #f9dc25 solid 2px;
  display: flex;
  font-family: "Poppins";
}

#link_sobre:hover{
  text-decoration: underline;
}

.titulo{
  width: 100%;
  flex:20%;
  text-align: left;
}

#menu {
  flex: 40%;
  margin: auto;
  padding: 10px;
}

#menu button{
  font-family: "Poppins", sans-serif;
  flex: 20%;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  background-color: rgb(54, 57, 63, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  transition: background-color .2s;
}

#menu button:hover{
  background-color: #36393f;
}

img {
  max-width: 100%;
}

figure{
  display: flex;
  justify-content: center;
  padding: 10px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #f9dc25;
}

h2 {
  font-weight: normal;
  font-size: 1.3em;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 2rem;
  padding-bottom: 10px;
}

p{
  font-weight: 500;
}

.paragrafo{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.videvo-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  color: black;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card {
  background-image: url("../img/sapo.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 445px;
  flex: 40%;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  transition: all .2s;
}

.card:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, -10);
  cursor: pointer;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);

}

#mecanica {
  background-image: url("../img/mecanica.png");
}

#termodinamica {
  background-image: url("../img/termodinamica.jpg");
}

#ondulatoria {
  background-image: url("../img/ondulatoria.png");
}

#eletromagnetismo {
  background-image: url("../img/eletromagnetismo.jpg");
}

#astrofisica {
  background-image: url("../img/astrofisica.jpg");
}

#quantica {
  background-image: url("../img/quantica.jpg");
}

.texto_card {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-bottom: 0px;
  padding-bottom: 1px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  overflow:hidden;
  width: 100%;
  bottom: 0;
}

footer {
  font-family: "Poppins";
  font-style: italic;
  margin-bottom: 30px;
  font-size: 1rem;
}

a {
  color: #f9dc25;
}

.separator {
  height: 2px;
  margin: 10px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #f9dc25,
    rgba(255, 255, 255, 0)
  );
}

.voltar{
  float: left;
  padding-left: 20px;
}

#link_sobre {
  color: white;
  text-decoration: none;
}

.conteudo_pagina{
  padding: 10px 50px 0 50px;
  text-align: left;
  line-height: 2rem;
}

.paragrafo{
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  
  html{
    font-size: 62.5%;
  }

  header {
    font-size: 140%;
    display: block;

  }

  .titulo h1, h2{
    text-align: center;
  }

  #menu button{
    margin: 10px;
  }

  .texto_card{
    font-size: 200%;
  }

  .conteudo_pagina{
    padding: 10px 20px 0 20px;
    text-align: left;
    line-height: 2rem;
  }

  h4{
    font-size: 2.5rem;
  }

  .paragrafo{
    font-size: 1.8rem;
  }
  
}

/* amarelo #f9dc25
verde-azul claro #63b8a5
verde-azul escuro #1d968e
verde musgo #8ca041
cinza #36393f */
